/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.d-none {
  display: none;
}

.bold {
  font-weight: bold;
}

/**
 * Sidebar CSS
 */

#sidebar {
  background-color: #2196f3;
  padding: 15px;
}

.logo {
  width: 150px;
}

.mui-appbar {
  padding: 1rem 1rem 0;
}

.mui-form {
  margin-bottom: 3rem;
}

#logIn,
#logOut,
#register {
  width: 120px;
}

.question {
  background: #e3f2fd;
}

.question__divider {
  margin: 5px 0;
}

.question__text,
.answer__text,
.nickName {
  font-size: 16px;
  color: #607D8B;
  font-weight: bold;
}

.nickName {
  font-size: 18px;
  color: #2196f3;
  font-weight: bold;
}

.toggleScreenBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0;
}

.deleteQuestion {
  background: #ffcdd2;
  font-weight: bold;
  color: rgb(114, 114, 114);
}

.editQuestion {
  background: #f4ff81;
  font-weight: bold;
  color: rgb(114, 114, 114);
}

.answerQuestion {
  background: #80deea;
  font-weight: bold;
  color: rgb(114, 114, 114);
}

.answers {
  width: 75%;
  margin-left: auto;
}

.answer {
  background: #ffebee;
}

.noAnswerMessage {
  text-align: right;
  font-size: 16px;
  color: rgb(114, 114, 114);
  font-weight: bold;
}

@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    height: 100%;
    padding-top: 30px;
  }
}

/**
 * Content CSS
 */
@media (min-width: 768px) {
  #content {
    margin-top: 30px;
    margin-left: 230px;
  }
}
